In [4]:
# import lib
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, RobustScaler
from sklearn.ensemble import RandomForestClassifier

In [5]:
df_train = pd.read_csv("E:/ML/AISS/patient_stay_2_1310/dataset/train_data.csv")
df_test = pd.read_csv("E:/ML/AISS/patient_stay_2_1310/dataset/test_data.csv")
print("train ",df_train.shape, " test ", df_test.shape)
df_train.head(2)

train  (318438, 18)  test  (137057, 17)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50

In [6]:
label_encoder = preprocessing.LabelEncoder()

In [7]:
print(df_train.Stay.unique())
df_train['Stay'] = label_encoder.fit_transform(df_train['Stay'])
print(df_train.Stay.unique())
stay_train = df_train.Stay

['0-10' '41-50' '31-40' '11-20' '51-60' '21-30' '71-80'
 'More than 100 Days' '81-90' '61-70' '91-100']
[ 0  4  3  1  5  2  7 10  8  6  9]

In [8]:
X = df_train.drop(["Stay","Hospital_type_code","City_Code_Hospital","Hospital_region_code", "Department","Ward_Facility_Code","Type of Admission","Severity of Illness"], axis=1)
#X = df_train.drop("Stay", axis=1)
y = df_test.drop(["Hospital_type_code","City_Code_Hospital","Hospital_region_code", "Department","Ward_Facility_Code","Type of Admission","Severity of Illness"], axis=1)
print(X.shape, y.shape)
data = pd.concat([X,y])

(318438, 10) (137057, 10)

In [9]:
print(data.shape)
data.head(2)

(455495, 10)

,case_id,Hospital_code,Available Extra Rooms in Hospital,Ward_Type,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Age,Admission_Deposit
0,1,8,3,R,2.0,31397,7.0,2,51-60,4911.0
1,2,2,2,S,2.0,31397,7.0,2,51-60,5954.0

In [10]:
# rename columns
original_col = data.columns
new_col = ['case_id','Hospital_code','Available_Extra_Rooms_in_Hospital','Ward_Type','Bed_Grade','patientid','City_Code_Patient','Visitors_with_Patient','Age','Admission_Deposit']                                                                                                               
data =data.rename(columns=dict(zip(original_col, new_col)))
print(data.shape)
#print(data.head())

(455495, 10)

In [11]:
data.isnull().sum()

case_id                                 0
Hospital_code                           0
Available_Extra_Rooms_in_Hospital       0
Ward_Type                               0
Bed_Grade                             148
patientid                               0
City_Code_Patient                    6689
Visitors_with_Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [12]:
print(data.Bed_Grade.mode())
data.Bed_Grade = data.Bed_Grade.fillna(2.0)

print(data.City_Code_Patient.mode())
data.City_Code_Patient = data.City_Code_Patient.fillna(8.0)

0    2.0
dtype: float64
0    8.0
dtype: float64

In [13]:
print(data.isnull().sum())
data.shape

case_id                              0
Hospital_code                        0
Available_Extra_Rooms_in_Hospital    0
Ward_Type                            0
Bed_Grade                            0
patientid                            0
City_Code_Patient                    0
Visitors_with_Patient                0
Age                                  0
Admission_Deposit                    0
dtype: int64

(455495, 10)

In [14]:
data.dtypes

case_id                                int64
Hospital_code                          int64
Available_Extra_Rooms_in_Hospital      int64
Ward_Type                             object
Bed_Grade                            float64
patientid                              int64
City_Code_Patient                    float64
Visitors_with_Patient                  int64
Age                                   object
Admission_Deposit                    float64
dtype: object

In [15]:
print(data.shape)
data.head(3)

(455495, 10)

,case_id,Hospital_code,Available_Extra_Rooms_in_Hospital,Ward_Type,Bed_Grade,patientid,City_Code_Patient,Visitors_with_Patient,Age,Admission_Deposit
0,1,8,3,R,2.0,31397,7.0,2,51-60,4911.0
1,2,2,2,S,2.0,31397,7.0,2,51-60,5954.0
2,3,10,2,S,2.0,31397,7.0,2,51-60,4745.0

In [16]:
print(data.shape)
data.head(1)

(455495, 10)

,case_id,Hospital_code,Available_Extra_Rooms_in_Hospital,Ward_Type,Bed_Grade,patientid,City_Code_Patient,Visitors_with_Patient,Age,Admission_Deposit
0,1,8,3,R,2.0,31397,7.0,2,51-60,4911.0

In [17]:
data['Ward_Type']= label_encoder.fit_transform(data['Ward_Type']) 
data['Age']= label_encoder.fit_transform(data['Age'])

In [18]:
print(data.shape)
data.head(3)

(455495, 10)

,case_id,Hospital_code,Available_Extra_Rooms_in_Hospital,Ward_Type,Bed_Grade,patientid,City_Code_Patient,Visitors_with_Patient,Age,Admission_Deposit
0,1,8,3,2,2.0,31397,7.0,2,5,4911.0
1,2,2,2,3,2.0,31397,7.0,2,5,5954.0
2,3,10,2,3,2.0,31397,7.0,2,5,4745.0

In [19]:
data.describe()

,case_id,Hospital_code,Available_Extra_Rooms_in_Hospital,Ward_Type,Bed_Grade,patientid,City_Code_Patient,Visitors_with_Patient,Age,Admission_Deposit
count,455495.00000,455495.000000,455495.000000,455495.000000,455495.000000,455495.000000,455495.000000,455495.000000,455495.000000,455495.000000
mean,227748.00000,18.326335,3.196140,1.888087,2.628215,65786.793563,7.260517,3.284229,4.126757,4877.434022
std,131490.22477,8.634036,1.166994,0.804688,0.871929,37968.830850,4.724731,1.768044,1.889698,1084.982089
min,1.00000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1800.000000
25%,113874.50000,11.000000,2.000000,1.000000,2.000000,32874.000000,4.000000,2.000000,3.000000,4184.000000
50%,227748.00000,19.000000,3.000000,2.000000,3.000000,65735.000000,8.000000,3.000000,4.000000,4738.000000
75%,341621.50000,26.000000,4.000000,2.000000,3.000000,98576.500000,8.000000,4.000000,5.000000,5405.000000
max,455495.00000,32.000000,24.000000,5.000000,4.000000,131624.000000,38.000000,32.000000,9.000000,11920.000000

In [20]:
data.shape

(455495, 10)

In [21]:
#data = data.drop("Hospital_region_code", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455495 entries, 0 to 137056
Data columns (total 10 columns):
case_id                              455495 non-null int64
Hospital_code                        455495 non-null int64
Available_Extra_Rooms_in_Hospital    455495 non-null int64
Ward_Type                            455495 non-null int32
Bed_Grade                            455495 non-null float64
patientid                            455495 non-null int64
City_Code_Patient                    455495 non-null float64
Visitors_with_Patient                455495 non-null int64
Age                                  455495 non-null int32
Admission_Deposit                    455495 non-null float64
dtypes: float64(3), int32(2), int64(5)
memory usage: 34.8 MB

### preprocessing of df (train_data) ends here

In [22]:
data_train = data.iloc[:318438]
data_test = data.iloc[318438:]
data.head(1)

,case_id,Hospital_code,Available_Extra_Rooms_in_Hospital,Ward_Type,Bed_Grade,patientid,City_Code_Patient,Visitors_with_Patient,Age,Admission_Deposit
0,1,8,3,2,2.0,31397,7.0,2,5,4911.0

In [23]:
X = data_train.values
test = data_test.values
y = stay_train.values

In [24]:
# Instantiate model and fit to data
clf = RandomForestClassifier(n_estimators = 50)
clf.fit(X, y)

RandomForestClassifier(n_estimators=50)

In [25]:
import pickle
model = pickle.dumps(clf)
#import pickle
#model = pickle.dumps(classifier)

In [28]:
import tkinter as tk
import pickle
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
#
# tkinter gui
root = tk.Tk()
root.title("AIS SOLUTIONS PVT LTD")
canvas1 = tk.Canvas(root, width=800, height=600)
canvas1.pack()

#labels and input boxes
label0 = tk.Label(root,text="PATIENT LENGTH OF STAY PREDICTION")#.place(x=150,y=30)
canvas1.create_window(400,30,window=label0)
label0.config(font=("Times",25))

# # 1
label1 = tk.Label(root,text="Case ID").place(x=30,y=100)
canvas1.create_window(30,100,window=label1)
#label1.config(font=("Times",18))
#
entry1 = tk.Entry(root)
canvas1.create_window(360,100,window=entry1)
entry1.config(font=("Times",18))
#
# # 2
label2 = tk.Label(root,text="Hospital Code").place(x=30,y=130)
canvas1.create_window(30,130,window=label2)
#label2.config(font=("Times",18))

entry2 = tk.Entry(root)
canvas1.create_window(360,130,window=entry2)
entry2.config(font=("Times",18))
#
label3 = tk.Label(root,text="Available Extra Rooms in Hospital").place(x=30,y=160)
canvas1.create_window(30,160,window=label3)
#label3.config(font=("Times",18))

entry3 = tk.Entry(root)
canvas1.create_window(360,160,window=entry3)
entry3.config(font=("Times",18))

# # 7
label7 = tk.Label(root,text="Ward Type").place(x=30,y=190)
canvas1.create_window(30,190,window=label7)
#label7.config(font=("Times",18))

entry7 = tk.Entry(root)
canvas1.create_window(360,190,window=entry7)
entry7.config(font=("Times",18))

label7_0 = tk.Label(root,text="Enter 0 for P, 1 for Q, 2 for R, 3 for S, 4 for T, 5 for U" ).place(x=30,y=220)
canvas1.create_window(30,220,window=label7_0)

# # 9
label9 = tk.Label(root,text="Bed Grade").place(x=30,y=270)
canvas1.create_window(30,270,window=label9)
#label9.config(font=("Times",18))

entry9 = tk.Entry(root)
canvas1.create_window(360,270,window=entry9)
entry9.config(font=("Times",18))
#
# 10
label10 = tk.Label(root,text="Patient ID").place(x=30,y=300)
canvas1.create_window(30,300,window=label10)
#label10.config(font=("Times",18))

entry10 = tk.Entry(root)
canvas1.create_window(360,300,window=entry10)
entry10.config(font=("Times",18))
# 10

label11 = tk.Label(root,text="City Code Patient").place(x=30,y=330)
canvas1.create_window(30,330,window=label11)
#label11.config(font=("Times",18))

entry11 = tk.Entry(root)
canvas1.create_window(360,330,window=entry11)
entry11.config(font=("Times",18))

# 13
label14 = tk.Label(root,text="Visitors with Patient").place(x=30,y=360)
canvas1.create_window(30,360,window=label14)
#label14.config(font=("Times",18))

entry14 = tk.Entry(root)
canvas1.create_window(360,360,window=entry14)
entry14.config(font=("Times",18))

# 14
label15 = tk.Label(root,text="Age").place(x=30,y=390)
canvas1.create_window(30,390,window=label15)
#label15.config(font=("Times",18))

entry15 = tk.Entry(root)
canvas1.create_window(360,390,window=entry15)
entry15.config(font=("Times",18))

label15_0 = tk.Label(root,text="Enter 0 for (0-10), 1 for (11-20), 2 for (21-30), 3 for (31-40), 4 for (41-50), 5 for (51-60), 6 for (61-70), 7 for (71-80), 8 for (81-90), 9 for (91-100)").place(x=30,y=420)
canvas1.create_window(30,420,window=label15_0)

# 15
label16 = tk.Label(root,text="Admission Deposit").place(x=30,y=470)
canvas1.create_window(30,470,window=label16)

entry16 = tk.Entry(root)
canvas1.create_window(360,470,window=entry16)
entry16.config(font=("Times",18))

def values():
    global case_id
    case_id = float(entry1.get())
    global Hospital_code
    Hospital_code = float(entry2.get())
    
    global Available_Extra_Rooms_in_Hospital
    Available_Extra_Rooms_in_Hospital  = float(entry3.get())
    
    global Ward_Type
    Ward_Type  = float(entry7.get())
    
    global Bed_Grade
    Bed_Grade  = float(entry9.get())
    global patientid
    patientid = float(entry10.get())
    global City_Code_Patient
    City_Code_Patient = float(entry11.get())
    
    global Visitors_with_Patient
    Visitors_with_Patient  = float(entry14.get())
    global Age
    Age  = float(entry15.get())
    global Admission_Deposit
    Admission_Deposit  = float(entry16.get())
    
    test_df = pd.DataFrame([(case_id, Hospital_code, Available_Extra_Rooms_in_Hospital, Ward_Type, Bed_Grade, patientid, City_Code_Patient, Visitors_with_Patient, Age, Admission_Deposit)],
                          columns = ("case_id", "Hospital_code", "Available_Extra_Rooms_in_Hospital", "Ward_Type", "Bed_Grade", "patientid", "City_Code_Patient", "Visitors_with_Patient", "Age", "Admission_Deposit"))
    
    #loaded_model = pickle.loads(model)
    #res = loaded_model.predict(test_df)
    
    
    res = clf.predict(test_df)
    if res == 0:
        res="0-10 days"
    elif res == 1:
        res="11-20 days"
    elif res == 2:
        res="21-30 days"
    elif res == 3:
        res="31-40 days"
    elif res == 4:
        res="41-50 days"
    elif res == 5:
        res="51-60 days"
    elif res == 6:
        res="61-70 days"
    elif res == 7:
        res="71-80 days"
    elif res == 8:
        res="81-90 days"
    elif res == 9:
        res="91-100 days"
    else :
        res="more than 100 days"
    prediction_res = ("Result :", res)
    label_prediction = tk.Label(root, text=prediction_res).place(x=260, y=550)
    canvas1.create_window(260,570,window=label_prediction)
    #label_prediction.config(font=("Times",18))

button1 = tk.Button(root, text="Predict Length Of Patient Stay", command=values)
canvas1.create_window(360,520,window=button1)
button1.config(font=("Times",18))
root.resizable(0,0)
root.mainloop()